<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-init="onLoad()">
    <div class="card">
        <div class="header">
            <h4 class="card-title">Criterios y Estándares Ajustados</h4>
        </div>
        <div class="body">
            <div class="dataTables_wrapper form-inline dt-bootstrap">
                <div class="row">
                    <!--BOTONES ACCIONES-->
                    <div class="col-sm-6">
                        <div class="col-sm-6">
                            <button class="btn" style="width: 100%;background-color: #000033;color: white"
                                    data-toggle="modal" data-target="#modal_Add_Register">
                                Crear Nuevo Registro
                            </button>
                        </div>
                    </div>
                    <!--END BOTONES ACCIONES-->
                    <!--INPUT SEARCH-->
                    <div class="col-sm-6" >
                        <div class="dataTables_filter">
                            <input type="search" class="form-control input-sm" style="width: 100%;"
                                   placeholder="Buscar">
                        </div>
                    </div>
                    <!--END INPUT SEARCH-->
                </div>
                <div class="row" style="overflow: auto;overflow-x: auto">
                    <div class="col-sm-12">
                        <table  class="table table-hover dataTable table-responsive" >
                            <thead>
                            <tr role="row">
                                <th>#</th>
                                <th>Criterio</th>
                                <th>CYE Ajustado</th>
                                <th>Observación</th>
                                <th>Valoración</th>
                                <th>Responsables - Correo</th>
                                <th>FLOC</th>
                                <th>FLA</th>
                                <th>Incorporado IAE</th>
                                <th>Nivel IAE</th>
                                <th>Acción</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr role="row" class="odd" ng-repeat="item in lista_cye_ajustados | limitTo : 5">
                                <td>{{$index + 1}}</td>
                                <td>{{item.CYE}}</td>
                                <td>{{item.CriterioAjustado}}</td>
                                <td>{{item.Observaciones}}</td>
                                <td>{{item.Valoracion}}</td>
                                <td>{{item.Responsable}} - {{item.Correo}}</td>
                                <td>{{item.FLOC}}</td>
                                <td>{{item.FLA}}</td>
                                <td>{{item.IncorporadoIAE}}</td>
                                <td>{{item.NivelIAE}}</td>
                                <td>
                                    <a ng-click="openEditModal(item)"  style="color: darkblue">EDITAR</a> |
                                    <a  ng-click="deleteData(item.ID)" style="color: red;">ELIMINAR</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <div class="footer">

        </div>
    </div>
</div>

<!--START MODAL ADD CYE_A-->
<div class="container-fluid">
    <div class="modal fade" id="modal_Add_Register" tabindex="-1" role="dialog" aria-labelledby="modal_Add_Register" aria-hidden="true">
        <div class="modal-dialog" role="document"  style="width:80%">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Ajustar Criterio y Estándar</h5>
                </div>
                <div class="modal-body">
                    <div class="row clearfix">
                        <div class="row">
                            <div class="col-sm-4">
                                <label for="select_cye_available">Criterios y Estándares</label>
                                <select class="form-control" id="select_cye_available" ng-change="updateIDCriterio(new_item.Criterio)"
                                        ng-model="new_item.Criterio" ng-options="item.Criterio for item in lista_cye">
                                </select>
                            </div>
                            <div class="col-sm-4 ">
                                <label for="input_cye_ajustado">CYE Ajustado</label>
                                <input type="text" class="form-control input-sm" id="input_cye_ajustado" ng-model="new_item.CriterioAjustado">
                            </div>
                            <div class="col-sm-4">
                                <label for="input_observaciones">Observación</label>
                                <input type="text" class="form-control" ng-model="new_item.Observacion" id="input_observaciones">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label for="date_FLOC">FLOC</label>
                                <input class="form-control" type="date" id="date_FLOC" ng-model="new_item.FLOC">
                            </div>
                            <div class="col-sm-4">
                                <label for="date_FLA">FLA</label>
                                <input class="form-control" type="date" id="date_FLA" ng-model="new_item.FLA">
                            </div>
                            <div class="col-sm-4">
                                <label for="input_valoracion">Valoración</label>
                                <select class="form-control" id="input_valoracion" ng-model="new_item.Valoracion"
                                        ng-options="item.Valoracion for item in lista_valoraciones"
                                        ng-change="updateIDvaloracion(new_item.Valoracion)">
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <br>
                            <div class="col-sm-6">
                                <select ng-model="responsables_disponibles" class="ms" multiple="multiple" style="width: 100%" ng-change="addResponsable(responsables_disponibles)">
                                    <optgroup label="Responsables Disponibles">
                                        <option ng-repeat="item in lista_responsables">{{item.Responsable}}</option>
                                    </optgroup>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <select ng-model="responsables_seleccionados" class="ms" multiple="multiple" style="width: 100%" ng-change="removeResponsable(responsables_seleccionados)">
                                    <optgroup label="Responsables Seleccionados">
                                        <option ng-repeat="item in lista_responsables_seleccionados">{{item.Responsable}}</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="input_incorporado_IAE">Incorporado IAE</label>
                                <select class="form-control" id="input_incorporado_IAE" ng-model="new_item.IncorporadoIAE">
                                    <option value="Yes">Si</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <label for="input_nivel_IAE">Nivel IAE</label>
                                <select class="form-control" id="input_nivel_IAE" ng-model="new_item.NivelIAE" ng-change="updateIDNivelIAE(new_item.NivelIAE)">
                                    <option ng-repeat="item in lista_nivel_IAE">{{item.NivelIAE}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary"  ng-click="insertData(new_item)" id="button_save_cye_ajustado">
                        Crear Criterio
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END MODAL ADD CYE_A-->

<!--START MODAL EDIT CYE_A-->
<div class="container-fluid">
    <div class="modal fade" id="modalEditCYEA" tabindex="-1" role="dialog" aria-labelledby="modalAddDimension" aria-hidden="true">
        <div class="modal-dialog" role="document" style="width: 80%">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Editar | {{cye_selected_edit.Criterio}}</h5>
                </div>
                <div class="modal-body">
                    <div class="row clearfix">
                        <div class="row">
                            <div class="col-sm-4">
                                <label for="select_cye_edit">Criterios y Estándares</label>
                                <select class="form-control" id="select_cye_edit" ng-change="updateIDCriterio(cye_selected_edit.Criterio)"
                                        ng-model="cye_selected_edit.Criterio" ng-options="item.Criterio for item in lista_cye">
                                </select>
                            </div>
                            <div class="col-sm-4 ">
                                <label for="input_cye_ajustado_edit">CYE Ajustado</label>
                                <input type="text" class="form-control input-sm" id="input_cye_ajustado_edit" ng-model="cye_selected_edit.CriterioAjustado">
                            </div>
                            <div class="col-sm-4">
                                <label for="input_observaciones_edit">Observación</label>
                                <input type="text" class="form-control" ng-model="cye_selected_edit.Observaciones" id="input_observaciones_edit">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label for="date_FLOC_edit">FLOC</label>
                                <input class="form-control" type="date" id="date_FLOC_edit" ng-model="cye_selected_edit.FLOC">
                            </div>
                            <div class="col-sm-4">
                                <label for="date_FLA_edit">FLA</label>
                                <input class="form-control" type="date" id="date_FLA_edit" ng-model="cye_selected_edit.FLA">
                            </div>
                            <div class="col-sm-4">
                                <label for="input_valoracion_edit">Valoración</label>
                                <select class="form-control" id="input_valoracion_edit" ng-model="cye_selected_edit.Valoracion"
                                        ng-options="item.Valoracion for item in lista_valoraciones"
                                        ng-change="updateIDvaloracion(cye_selected_edit.Valoracion)">
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <br>
                            <div class="col-sm-6">
                                <select ng-model="responsables_disponibles" class="ms" multiple="multiple" style="width: 100%" ng-change="addResponsable(responsables_disponibles)">
                                    <optgroup label="Responsables Disponibles">
                                        <option ng-repeat="item in lista_responsables">{{item.Responsable}}</option>
                                    </optgroup>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <select ng-model="responsables_seleccionados" class="ms" multiple="multiple" style="width: 100%" ng-change="removeResponsable(responsables_seleccionados)">
                                    <optgroup label="Responsables Seleccionados">
                                        <option ng-repeat="item in lista_responsables_seleccionados">{{item.Responsable}}</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="input_incorporado_IAE_edit">Incorporado IAE</label>
                                <select class="form-control" id="input_incorporado_IAE_edit" ng-model="cye_selected_edit.IncorporadoIAE">
                                    <option value="Yes">Si</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <label for="input_nivel_IAE_edit">Nivel IAE</label>
                                <select class="form-control" id="input_nivel_IAE_edit" ng-model="cye_selected_edit.NivelIAE" ng-change="updateIDNivelIAE(cye_selected_edit.NivelIAE)">
                                    <option ng-repeat="item in lista_nivel_IAE">{{item.NivelIAE}}</option>
                                </select>
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary"  ng-click="editData(cye_selected_edit)" id="button_edit_cye">
                        Guardar Cambios
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END MODAL EDIT CYE_A-->